@model List<ResultTeamDto>
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Şeflerimiz</h2>
            <p>Profesyonel Ekibimiz</p>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="@item.ImageUrl" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@item.NameSurname</h4>
                                <span>@item.Title</span>
                            </div>
                            <div class="social">
                                <a href="@item.InstagramURL"><i class="bi bi-instagram"></i></a>
                                <a href="@item.LinkedinURL"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }




        </div>

    </div>
</section>