@model List<ResultEventDto>
<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Etkinlikler</h2>
            <p>Restoratantımızda Etkinlik Planlayın</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="@item.ImageUrl" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>@item.Title</h3>
                                <div class="price">
                                    <p><span>@item.Price.ToString("C2")</span></p>
                                </div>
                                <p class="fst-italic">
                                    @item.TopDescription
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> @item.Property1</li>
                                    <li><i class="bi bi-check-circled"></i> @item.Property2</li>
                                    <li><i class="bi bi-check-circled"></i> @item.Property3</li>
                                </ul>
                                <p>
                                    @item.BottomDescription
                                </p>
                            </div>
                        </div>
                    </div>
                }
        

           

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>