@model List<ResultSpecialDto>
@{
    int count = 0;
    int tabcount = 0;
    int count2 = 0;
}
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Restoratımızın Seçtikleri</h2>
            <p>Sepesyellerimiz</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
               
                <ul class="nav nav-tabs flex-column">
                    @foreach (var item in Model)
                    {
                        count++;
                        <li class="nav-item">
                            <a class="nav-link @(count==1?"active show":"")" data-bs-toggle="tab" href="#tab-@count">@item.SpecialName</a>
                        </li>
                    }
                  
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    @foreach (var item in Model)
                    {
                        tabcount++;
                        count2++;
                        <div class="tab-pane @(count2==1?"active show":"")" id="tab-@tabcount">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@item.SpecialName</h3>
                                    <p class="fst-italic">@item.Title</p>
                                    <p>@item.Description</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="@item.ImageUrl" style="border-radius:10px" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
            
               
                </div>
            </div>
        </div>

    </div>
</section>