@model List<ResultAboutDto>
@foreach (var item in Model)
{
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="@item.ImageUrl" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>@item.Title</h3>
                    <p class="fst-italic">
                      @item.TopDescription
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> @item.Property1</li>
                        <li><i class="bi bi-check-circle"></i> @item.Property2</li>
                        <li><i class="bi bi-check-circle"></i> @item.Property3</li>
                    </ul>
                    <p>
                        @item.BottomDescription
                    </p>
                </div>
            </div>




        </div>
    </section>
}